<div class="row">
    <div class="col-md-4">
        <H4><span class="search-result pull-left" ng-if="onSearching">Search Results / total count {{ pageInfo.totalMsgCnt }}</span></H4>
    </div>
    <div class="col-md-8">
        <button class="btn btn-sm btn-warning pull-right" ng-if="onSearching"  ng-click="cancelSearch()">Cancel</button>
        <span class="search-container pull-right">
            <form  ng-submit="searchThis()">
                <input type="text" ng-model="searchText" placeholder="search" tabindex="1" autocomplete="off" maxlength="240">
            </form>

        </span>
    </div>
</div>
<br>

<accordion close-others="oneAtATime">
    <accordion-group  ng-repeat="msg in guestMsgs">

        <accordion-heading  >
            <span ng-click="headerClicked(msg, $index)" >{{ msg.title }}</span>

            <span class="pull-right">
                <span class="badge">{{viewHits[$index]}} hits</span>
            </span>
        </accordion-heading>


        <textarea ng-if="editing" ng-model="msg.title" class="form-control"></textarea>
        <br>
        <textarea ng-model="msg.contents" ng-readonly="!editing"  class="form-control msgContents" rows="{{ msg.rows }}"></textarea>


        <br>
        <span class="pull-left">
            <button ng-show="!editing" class="btn btn-info btn-sm" ng-click="changeViewToEdit($index )">
                Edit
            </button>

            <button ng-show="!editing" class="btn btn-danger btn-sm" ng-click="deleteMsg(msg._id)">
                  Delete
            </button>

            <button ng-show="editing" class="btn btn-primary btn-sm" ng-click="updateMsg(msg)">
                  Save
            </button>

            <button ng-show="editing" class="btn btn-danger btn-sm" ng-click="cancelEdit($index)">
                 Cancel
            </button>
        </span>

        <span class="pull-right">
            <span class="label label-primary">{{msg.user}}</span>
            <span class="label label-primary">{{ msg.reg_date }}</span>
        </span>
    </accordion-group>

    <accordion-group ng-show="!guestMsgs.length">
        <accordion-heading  style="text-align :center" >
            <span class="text-default">No data exists</span>
        </accordion-heading>
    </accordion-group>
</accordion>

<div class="row">
    <div class="col-md-6">
        <my-pagination-directive max-visible-pages="5"
                                 count-all-api-url="apis/countAll"
                >
        </my-pagination-directive>
    </div>


    <div class="col-md-4">
        <!--
        <div class="search-container">
            <form id="search" ng-submit="searchThis()">
                <input type="text" ng-model="searchText" placeholder="search" tabindex="1" autocomplete="off" maxlength="240">
                <button class="btn btn-sm btn-primary" ng-click="search()">Search</button>
            </form>
        </div>
        -->
    </div>


    <div class="col-md-2">
        <button class="btn pull-right btn-primary btn-sm"  ng-click="writeMsg()">
            <span class="glyphicon glyphicon-pencil"></span> Write
        </button>
    </div>

</div>


<!-- modal dialog for write new msg -->
<script type="text/ng-template" id="myModalContent.html">

    <div class="modal-header">
        <h3 class="modal-title">write message</h3>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <input type="text" id="title" placeholder="글 제목" class="form-control"  ng-model="newMsgData.title" auto-focus />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <textarea id="detailedContents" class="form-control" rows="15"  ng-model="newMsgData.contents"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12" align="right">
                <button class="btn btn-sm btn-primary" ng-click="saveNewMsg()">OK</button>
                <button class="btn btn-sm btn-warning" ng-click="cancelNewMsg()">Cancel</button>
            </div>

        </div>
    </div>

</script>









